---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---
<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading vf-intro__heading--has-tag">Barcelona <a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
        <p class="vf-lede">EMBL’s site in Spain handles tissue biology and imaging studies</p>
        <p class="vf-intro__text">Scientists at EMBL Barcelona explore how tissues and organs function and develop, in health and disease. Alongside cutting-edge research, EMBL’s only site in Spain houses state-of-the-art imaging facilities, enabling scientists worldwide to access microscopy and modelling technologies specifically designed for studying tissues.
</p>
<p><a id="harsh" href="#" class="vf-link ">Find out more with our local site > </a></p>
<p><a id="harsh" href="#" class="vf-link ">Leer mas en nuestro sitio local ></a></p>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h1 class="vf-text vf-text-heading--3">Find us</h1>
    </div>
    <div>
    <p class="vf-text--body vf-text-body--3">This site is hosted in the Barcelona Biomedical Research Park (PRBB), one of the largest infrastructures in Southern Europe dedicated to translational research. In this highly collaborative, interdisciplinary and international environment, EMBL researchers benefit from a partnership with the Centre for Genomic Regulation (CRG) and opportunities for collaboration with other pioneering research institutes, both on campus and in the region. Perched on the Barcelona seafront, and within walking distance of the city’s iconic architecture, the site is bathed in the energy of this bustling, creative metropolis.</p>
    <a id="harsh" href="#" class="vf-link ">Directions</a>
    </div>
    </section>
         <hr class="vf-divider">
  <section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h1 class="vf-text vf-text-heading--3">Barcelona blog</h1>
    </div>
    <div>
    Blog Content here
    </div>
    </section>  
         <hr class="vf-divider">
    <section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h1 class="vf-text vf-text-heading--3">News from Barcelona</h1>
    </div>
    <div>
    <link rel="import"
      href="https://dev.content.embl.org/api/v1/pattern.html?filter-content-type=article&filter-field-value%5Bfield_article_type%5D=article_timely&filter-fields-exists=field_display_title%2Cfield_teaser%2Cfield_canonical_location&limit=5&pattern=vf-news-item-default&sort-field-value%5Bcreated%5D=DESC"
      data-target="self" data-embl-js-content-hub-loader>
      <a id="harsh" href="#" class="vf-link ">See all EMBL news</a>
    </div>
    </section>   
     <hr class="vf-divider">
<h1 class="vf-text vf-text-heading--3">Research units</h1>
<section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Title Block
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Title Block
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Title Block
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>
</section>
<section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Title Block
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Title Block
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Title Block
      </h3>
      <p class="vf-card__text">
        two lines of text
      </p>
    </div>
  </div>
</section>
<section class="vf-grid" style="height: 300px; border: 1px solid #000;"> 
Mesoscopic Imaging Facility banner
 </section>
     <hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h1 class="vf-text vf-text-heading--3">Jobs at EMBL Barcelona</h1>
    </div>
    <div>
    Job list here
    </div>
    </section>